<div class="row">


	<div class="col-md-12 div-gallery">
		<%=image_tag('food_img1.jpg' , class: "img-fullwidth img-rounded")  %>
	</div>

	<div class="col-md-12 div-gallery">
				<%=image_tag('food_img2.jpg' , class: "img-fullwidth img-rounded")  %>
	</div>

	<div class="col-md-12 div-gallery">
				<%=image_tag('food_img3.jpg' , class: "img-fullwidth img-rounded")  %>
	</div>


</div>