<div class="row">


	<div class="col-md-12 div-gallery">
		



	</div>




	<div class="col-md-12">
				<%=image_tag('rent_img1.jpg' , class: "img-fullwidth img-rounded")  %>
	</div>

	<div class="col-md-12">
				<%=image_tag('rent_img2.gif' , class: "img-fullwidth img-rounded")  %>
	</div>

	<div class="col-md-12 ">
				<%=image_tag('rent_img3.gif' , class: "img-fullwidth img-rounded")  %>
	</div>

		<div class="col-md-12 ">
				<%=image_tag('rent_img4.jpg' , class: "img-fullwidth img-rounded")  %>
	</div>


</div>